body{
    background-image: url("/images/images.jpeg");
    background-size: cover;
}
body a{
    color: black;
    font-size: 30px;
    margin: 10px;
}
body input{
    background: transparent;
    border: 2px solid black;
    padding: 5px;
}
body input:hover{
    color: black;
    background-color: antiquewhite;
}
body button{
    color: black;
    background-color: transparent;
    padding: 2px 10px;
}